/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #201238;
}

.mat-mdc-snack-bar-container{
    &.green-snackbar {
        --mdc-snackbar-container-color: #519d50;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }

    &.red-snackbar {
        --mdc-snackbar-container-color: #a91d1d;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }
}

